#Pre-Processing, Data Visualization, EDA  


1.   Exploring the given Data files, classes and images of different classes.
2.   Dealing with missing values
3.   Visualization of different classes
4.   Analysis from the visualization of different classes.

Import all the necessary libraries for pre-processing Pandas - for data structures & data analysis,Numpy for computing with array objects,scikit-learn for pre-preocessing & prediction,matplotlib for plotting tool library,seaborn for data visualization

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
%matplotlib inline
import seaborn as sns
sns.set_style('dark')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
%tensorflow_version 2.x
import tensorflow
tensorflow.__version__

'2.2.0'

Load & read the dataset

In [0]:
# importing required modules 
from zipfile import ZipFile

In [0]:
# specifying the zip file name 
capstone_project = "/content/drive/My Drive/Capstone/rsna-pneumonia-detection-challenge.zip"

In [0]:
# opening the zip file in READ mode 
with ZipFile(capstone_project, 'r') as zip: 
    # extracting all the files 
    zip.extractall()

In [18]:
pd.read_csv('/content/stage_2_detailed_class_info.csv')

                                  patientId                         class
0      0004cfab-14fd-4e49-80ba-63a80b6bddd6  No Lung Opacity / Not Normal
1      00313ee0-9eaa-42f4-b0ab-c148ed3241cd  No Lung Opacity / Not Normal
2      00322d4d-1c29-4943-afc9-b6754be640eb  No Lung Opacity / Not Normal
3      003d8fa0-6bf1-40ed-b54c-ac657f8495c5                        Normal
4      00436515-870c-4b36-a041-de91049b9ab4                  Lung Opacity
...                                     ...                           ...
30222  c1ec14ff-f6d7-4b38-b0cb-fe07041cbdc8                  Lung Opacity
30223  c1edf42b-5958-47ff-a1e7-4f23d99583ba                        Normal
30224  c1f6b555-2eb1-4231-98f6-50a963976431                        Normal
30225  c1f7889a-9ea9-4acb-b64c-b737c929599a                  Lung Opacity
30226  c1f7889a-9ea9-4acb-b64c-b737c929599a                  Lung Opacity

[30227 rows x 2 columns]

No Lung Opacity/ Not Normal: No Pneumonia but some abnormality observed,
Normal: No Pneumonia observed
,Lung Opacity: Pneumonia observed

In [0]:
df_class_info=pd.read_csv('/content/stage_2_detailed_class_info.csv')

In [21]:
df_class_info.head(5)

                              patientId                         class
0  0004cfab-14fd-4e49-80ba-63a80b6bddd6  No Lung Opacity / Not Normal
1  00313ee0-9eaa-42f4-b0ab-c148ed3241cd  No Lung Opacity / Not Normal
2  00322d4d-1c29-4943-afc9-b6754be640eb  No Lung Opacity / Not Normal
3  003d8fa0-6bf1-40ed-b54c-ac657f8495c5                        Normal
4  00436515-870c-4b36-a041-de91049b9ab4                  Lung Opacity

In [28]:
df_class_info['patientId'].value_counts()

32408669-c137-4e8d-bd62-fe8345b40e73    4
8dc8e54b-5b05-4dac-80b9-fa48878621e2    4
0d5bc737-03de-4bb8-98a1-45b7180c3e0f    4
31764d54-ea3b-434f-bae2-8c579ed13799    4
76f71a93-8105-4c79-a010-0cfa86f0061a    4
                                       ..
5b46fd5b-d02a-4365-836e-cda3f45eb12c    1
ff38a1fd-53c4-4c3c-93e2-860f025f90de    1
61748ddb-0aa2-486b-9d35-e778e8d01795    1
9a4213ba-f410-46a1-87f0-56e0d4b9e767    1
3b547956-1d00-47b0-8dbb-fe0c40bf6bbf    1
Name: patientId, Length: 26684, dtype: int64

Patient ID gives the unique identies to different classes of pneumonia in the present data set - No Lung Opacity / Not Normal,Lung Opacity,Normal

In [0]:
df_train_labels=pd.read_csv('/content/stage_2_train_labels.csv')

In [32]:
df_train_labels.shape

(30227, 6)

In [23]:
df_train_labels.head(5)

                              patientId      x      y  width  height  Target
0  0004cfab-14fd-4e49-80ba-63a80b6bddd6    NaN    NaN    NaN     NaN       0
1  00313ee0-9eaa-42f4-b0ab-c148ed3241cd    NaN    NaN    NaN     NaN       0
2  00322d4d-1c29-4943-afc9-b6754be640eb    NaN    NaN    NaN     NaN       0
3  003d8fa0-6bf1-40ed-b54c-ac657f8495c5    NaN    NaN    NaN     NaN       0
4  00436515-870c-4b36-a041-de91049b9ab4  264.0  152.0  213.0   379.0       1

Dataset has impressions of NaN present in few columns as Missing values which would need to be handled for model building & tuning 
understanding from the data set is as below:

Target 0 : No Pneumonia
Target 1 : Pneumonia
All rows with columns X to width (L-R) have NaN which means patients with NaN, they dont have pneumonia while the ones with the value 1 or more than 1 are the areas of pneumonia detected.

To check for missing values

In [33]:
df_train_labels.isnull().sum()

patientId        0
x            20672
y            20672
width        20672
height       20672
Target           0
dtype: int64

In [0]:
df_train_labels["x"].fillna("mean()", inplace = True) 
df_train_labels["y"].fillna("mean()", inplace = True)
df_train_labels["width"].fillna("mean()", inplace = True)
df_train_labels["height"].fillna("mean()", inplace = True)

In [41]:
df_train_labels.isnull().sum()

patientId    0
x            0
y            0
width        0
height       0
Target       0
dtype: int64

In [42]:
df_train_labels.head()

                              patientId       x       y   width  height  Target
0  0004cfab-14fd-4e49-80ba-63a80b6bddd6  mean()  mean()  mean()  mean()       0
1  00313ee0-9eaa-42f4-b0ab-c148ed3241cd  mean()  mean()  mean()  mean()       0
2  00322d4d-1c29-4943-afc9-b6754be640eb  mean()  mean()  mean()  mean()       0
3  003d8fa0-6bf1-40ed-b54c-ac657f8495c5  mean()  mean()  mean()  mean()       0
4  00436515-870c-4b36-a041-de91049b9ab4     264     152     213     379       1